<% provide(:title, "Favorite") %>
  <p>お気に入り一覧</p>
    <table class="list" border="1">
      <tr>
        <th>タイトル</th>
        <th>アーティスト</th>
        <th>アイコン</th>
      </tr>
    <% @favs.each do |cd| %>
      <tr>
        <td><%= link_to "#{cd.title}", cd, method: :get %></td>
        <td><%= cd.artist %></td>
        <td><%= link_to image_tag("#{cd.icon}", alt: "Rails logo") %></td>
      </tr>
    <% end %>
    </table>
    <%= link_to "Delete(実装する？するとしたらfavをsessionで保持しないとダメ？)", fav_path(@favs), method: :delete,
                        data: { confirm: "You sure?" } %>
