<% provide(:title, "Favorite") %>
  <h2>お気に入り一覧</h2>
    <ul>
      <% if @favs %>
        <% @favs.each do |cd| %>
          <%= link_to image_tag("#{cd.icon}", alt: "Rails logo") %>
          <li>Title: <%= link_to "#{cd.title}", cd_path(cd.id) %> </li>
          <li>Artist: <%= cd.artist %> </li>

          <ul>
            <li>
              <%= link_to "お気に入り解除", fav_path(cd_id: cd.id), method: :delete %>
            </li>
          </ul>
          <ul>---------------------------------------------------------------------------------------------------</ul>
        <% end %>
      <% else %>
        <h3>お気に入りはありません。</h3>
      <% end %>
